version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: database
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME:-admin}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD:-secret}
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"   # expose to host for Compass/dev
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: expressjs
    restart: unless-stopped
    environment:
      - MONGO_URI=mongodb://admin:secret@mongo:27017/?authSource=admin
      - PORT=5000
    depends_on:
      mongo:
        condition: service_healthy
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    command: nodemon --legacy-watch src/server.js

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: react
    restart: unless-stopped
    environment:
      - REACT_APP_API_URL=http://localhost:5000/api
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - backend


volumes:
  mongo-data:
